trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'mottuapi'

steps:
- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: restore
    projects: '**/*.csproj'

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: '**/*.csproj'
    arguments: '--configuration Release'

# Se tiver testes, descomente ↓
#- task: DotNetCoreCLI@2
#  displayName: Test
#  inputs:
#    command: test
#    projects: '**/*Tests.csproj'

- task: Docker@2
  displayName: Docker Build and Push
  inputs:
    containerRegistry: 'acr-connection'
    repository: 'mottuapi'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(Build.BuildId)
      latest
